# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# SvelteKit specifically
.svelte-kit/
build/
/.vercel/
/.netlify/

# Environment Variables
.env
.env.local
.env.*.local

# Testing
coverage/

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
